
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: #462646;
}

h1{ 
    text-align: center;
    font-family:'Bubblegum Sans', cursive ;
    color: RGB(132,9,9);
}

p{
    text-align: center;
    font-family:'Bubblegum Sans', cursive ;
    margin-left: 20px;
}

.content {
    display: flex;
    align-items: center;
}

img {
    max-width: 400px;
    height: auto;
}