/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color:#050118;
    background-size: cover;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(245, 236, 236);
    font-family: 'Open', sans-serif;
    text-align: center;
}

.chart{
    background-color: white;
    width: auto;
    border-width: 5px;
    border-radius: 10px;
    border-style:solid;
    border-color: #7a6a6a;
    margin-left: 120px;
    margin-right: 120px;
    overflow: auto;
    
}

#link1{
    border-color:rgb(22, 235, 153);
    border-style:dashed
}